body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    font-size: 2em;
    color: #333;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  p#status {
    font-size: 1.2em;
    color: #333;
  }
  